@inherits LayoutComponentBase

@Body

<footer>
    &copy; @System.DateTime.Today.Year.ToString().
    An interactive learning project from <a href="https://bytepeak.ch">Yannik Gartmann</a>.
    Code licensed under MIT.
</footer>